{% extends 'base.html' %}
{% block content %}
    {% for article in object_list %}
        <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
            <div class="card" style="border:none;">
                <div class="card-header" style="height: 50px; background-color:white; border:none">
                    <div style="float: left;">
                        {% if article.title|length >= 100 %}
                            <a href="{% url 'article_view' article.pk %}" style="color: black; font-weight:bolder">
                                {{article.title|slice:":100"}}
                            </a>
                        {% else %}
                            <a href="{% url 'article_view' article.pk %}" style="color: black; font-weight:bolder">
                                {{article.title}}
                            </a>
                        {% endif %}
                    </div>
                    <div style="text-align: right; display: block; color:darkgray; font-size: 80%">
                        <cite title="Source Title"><p>posted on - {{article.date}}</p></cite>
                    </div>
                </div>
                <div class="card-body" style="margin-top: -20px;">
                    <blockquote class="blockquote mb-0">
                        {% if article.body|length >= 10 %}
                            <p><h6>{{ article.body|slice:":500"|linebreaks }}</h6></p>
                            <h6><a href="{% url 'article_view' article.pk %}">view more</a></h6>
                        {% else %}
                            <p><h6>{{article.body}}</h6></p>
                        {% endif %}
                        <div>
                            <div class="blockquote-footer" style="float: left;">
                                <cite title="Source Title">{{article.author}}</cite>
                            </div>
                            <p></p>
                            {% if article.author == request.user %}
                                <div style="text-align: right; font-size:medium">
                                    <a href="{% url 'article_edit' article.pk %}">Edit</a> | 
                                    <a href="{% url 'article_delete' article.pk %}">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
        <hr width="90%" align="center" style="margin-top: -10px;">
    {% endfor %}
{% endblock content %}

