{% extends 'base.html' %}
{% block title %} Article {% endblock title %}

{% block content %}
    {% for article in object_list %}
        <div style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px">
            <div class="card">
                <div class="card-header" style="height: 50px;">
                    <div style="float: left; color:Black">
                        <a href="{% url 'article_view' article.pk %}">{{article.title}}</a>
                    </div>
                    <div style="text-align: right; display: block; color:darkgray; font-size: 80%">
                        <cite title="Source Title"><p>posted on - {{article.date}}</p></cite>
                    </div>
                </div>
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <p><h6>{{article.body}}</h6></p>
                        <div>
                            <div class="blockquote-footer" style="float: left;">
                                <cite title="Source Title">{{article.author}}</cite>
                            </div>
                            <p></p>
                            {% if article.author == request.user %}
                                <div style="text-align: right; font-size:medium">
                                    <a href="{% url 'article_edit' article.pk %}">Edit</a> | 
                                    <a href="{% url 'article_delete' article.pk %}">Delete</a>
                                </div>
                            {% endif %}
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

